@import url("./animations.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

* {
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* width */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 28px;

  &:hover {
    background-color: grey;
  }
}

html {
  scroll-behavior: smooth;
}

section:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

.neumorphic {
  background: #e0e0e0;
  border-radius: 20px;
  position: relative;
}

.neumorphic::before {
  border-radius: 20px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.neumorphic-inset {
  background: #e0e0e0;
  border-radius: 20px;
  position: relative;
}

.neumorphic-inset::before {
  border-radius: 20px;
  box-shadow: inset 20px 20px 60px #bebebe, inset -20px -20px 60px #ffffff;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.neumorphic-deep {
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  border-radius: 20px;
  position: relative;
}

.neumorphic-deep::before {
  border-radius: 20px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.neumorphic-reverse {
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  border-radius: 20px;
  position: relative;
}

.neumorphic-reverse::before {
  border-radius: 20px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
